<!-- <mat-toolbar>
  <span>Cadastro cliente</span>
</mat-toolbar>

<div class="" style="display: flex; justify-content: center; align-items: center; flex-direction: column">

  <br>

  <mat-card>

    <mat-form-field>
      <input matInput placeholder="Name" value="name" [(ngModel)]="current.nome">
    </mat-form-field>

    <button mat-raised-button (click)="salvar()">Salvar</button>
  </mat-card>

  <br><br><br>


  <mat-card style="width: 500px">
    <h2>Todos o consultorios</h2>
    <mat-divider></mat-divider>
    <mat-list >
      <mat-list-item
        *ngFor="let consultorio of lista">
        <div class="" style="width: 100%; display: flex; justify-content: space-between">
          <span>{{consultorio.nome}}</span>

          <button mat-raised-button (click)="editar(consultorio)" >Editar</button>
        </div>

      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>


    <div style="display: flex; justify-content: flex-end">
      <button mat-raised-button (click)="novo()" >Novo</button>
      <button mat-raised-button (click)="atualizar()" >Atualizar</button>
    </div>
  </mat-card>

</div>
 -->
 <div class="" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
  <h2>Registrar-se como cliente</h2>
    
    <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">	
        <div class="form-group">
          <label class="form-control-label">Nome completo</label>
          <p><input type="text" class="form-control" name="nomeCompleto" ngModel></p>
        </div>
        
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <p><input type="text" class="form-control" name="emailValido" ngModel></p>
        </div>
        
        <div class="form-group">
          <label class="form-control-label">Senha</label>
          <p><input type="text" class="form-control" name="senha" ngModel></p>
        </div>
        
        <div class="form-group">
          <label class="form-control-label">Confirmar senha</label>
          <p><input type="text" class="form-control" name="confSenha" ngModel></p>
        </div>
        
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <!-- <input type="submit" class="botao" name="registrar" value="Registrar-se &raquo"/> -->
    </form>
  </div>